.footer {
    position: absolute;
    
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

.header {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
.container {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 0 20px;
}